<!DOCTYPE html>
<html>
<style>
    body {text-align: left;background-color: black;color: white;}
    div {text-align: center;}
</style>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <form action='/login' method='get'>
        <input id='login' type='submit' name='login' value='Login'>
    </form>
    <form action='/signUp' method='get'>
        <input id='signUp' type='submit' name='signUp' value='Sign Up'>
    </form>
    <div>
        <h1 id='header1'>Chitter</h1>
        <h2 id='header2'>The legally distinct short message posting application</h2>
    </div>
    <div>
        <% messages.map ((message,index) => { %>
            <p></p>
            <span id='<%= `name${index + 1}` %>'><b><%= message.User.name %></b></span>
            <span id='<%= `username${index + 1}` %>'style="font-size: small;">@<%= message.User.username %></span><br>
            <span id='<%= `peep${index + 1}` %>'>Peep: <%= message.peep %></span><br>
            <span id='<%= `sentAt${index + 1}` %>'> Sent at: <%= message.createdAt %></span><br>
            <form action='/<%=message.id%>/replies' method="get">
                <input id='<%= `reply${index + 1}` %>'type='submit' name='Replies' value='Replies'>
            </form>
        <% }) %>
    </div>
        
</body>
</html>